:root {
    --primary: #a97a57;
    --secondary: #9a5938;
    --tertiary: #bfb2a1;
    --primary-accent: #008080;
    --secondary-accent: #56483b;
}
#main {
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-items: center;
}
#bookshelf {
    grid-column: 2 / 3;
    padding: 16px;
    width: 80vw;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.card {
    background-color: var(--primary-accent);
    border: 2px solid var(--secondary-accent);
    padding: 8px;
    height: 250px;
    max-width: 300px;
    flex: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}